node_modules
.next
out
build
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.DS_Store
.vscode
.idea
README.md
Dockerfile
.dockerignore
